<!DOCTYPE html>
<html>
<style>
  table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }
</style>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Rectangles</h2>

<ul>
  <table style="width:100%">
    <tr>
      <th>name</th>
      <th>color</th>
      <th>width</th>
      <th>height</th>
      <th>age</th>
      <th>gender</th>
    </tr>
  </table>
    <% rows.forEach(function(r) { %>
        <li><%= r.name %>, <%= r.age %>, <%= r.color %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
