<!DOCTYPE html>
<html>
<style>
  table, th, td {
    text-align: center;
    width: 500px;
    border:1px solid black;
    border-collapse: collapse;
  }
</style>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Rectangles</h2>

<ul>
  <table>
    <tr>
      <th>&nbsp name</th>
      <th>&nbsp color</th>
      <th>&nbsp width</th>
      <th>&nbsp height</th>
      <th>&nbsp age</th>
      <th>&nbsp gender</th>
    </tr>
  </table>
    <% rows.forEach(function(r) { %>
      <table>
        <tr>
          <td>
            <form action="/display" method="get">
              <button><%= r.name %></button>
            </form>
          </td>
          <td><%= r.color %></td>
          <td><%= r.width %></td>
          <td><%= r.height %></td>
          <td><%= r.age %></td>
          <td><%= r.gender %></td>
        </tr>
      </table>
      <!-- <li><%= r.name %>, <%= r.color %>, <%= r.width %>, <%= r.height %>, <%= r.age %>, <%= r.gender %></li> -->
    <% }); %>
</ul>

</div>

</body>
</html>
