<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Rectangles</h2>

<ul>
    <% rows.forEach(function(r) { %>
        <li><%= r.name %>, <%= r.age %>, <%= r.color %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
