<!DOCTYPE html>
<html>
<style>
  table, th, td {
    text-align: center;
    width: 500px;
    border:1px solid black;
    border-collapse: collapse;
  }
  button {
    background: none;
    border: none;
  }
  p {
    color: rgba(36, 36, 253, 0.973);
  }
</style>
<!-- <script>
  window.onload = function () {
      let displayBtns = document.querySelectorAll('button');
      let btnArr = Array.prototype.slice.call(displayBtns);

      let recInputs = document.querySelectorAll('input');
      let inputArr = Array.prototype.slice.call(recInputs);

      let recNames = document.querySelectorAll('b');
      let nameArr = Array.prototype.slice.call(recNames);

      btnArr.forEach(function(btn, index){
        btn.addEventListener('click', function(){
          inputArr[index].value = nameArr[index].value;
        });
      });
  }
</script> -->
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Rectangles</h2>

<ul>
  <table>
    <tr>
      <th>&nbsp name</th>
      <th>&nbsp color</th>
      <th>&nbsp width</th>
      <th>&nbsp height</th>
      <th>&nbsp age</th>
      <th>&nbsp gender</th>
    </tr>
  </table>
    <% rows.forEach(function(r) { %>
      <table>
        <tr>
          <td>
            <form action="/display" method="post">
              <input type="text" name="name" value="<%= r.name %>">
              <button><p><b><%= r.name %></b></p></button>
              <!-- <p><b><input type="submit" value="<%= r.name %>"></b></p> -->
              <!-- <div id="submitRec"></div> -->
            </form>
          </td>
          <td><%= r.color %></td>
          <td><%= r.width %></td>
          <td><%= r.height %></td>
          <td><%= r.age %></td>
          <td><%= r.gender %></td>
        </tr>
      </table>
    <% }); %>
</ul>

</div>

</body>
</html>
