<!DOCTYPE html>
<html>
  <title>Main Page</title>
<style>
  table, th, td {
    text-align: center;
    width: 500px;
    border:1px solid black;
    border-collapse: collapse;
  }
  button {
    background: none;
    border: none;
  }
  p {
    color: rgba(36, 36, 253, 0.973);
  }
  input {
    display: none;
  }
  .btnsA {
    text-decoration: none;
    border: solid brown 2px;
    background-color: blanchedalmond;
  }
</style>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Rectangles</h2>

<ul>
  <table>
    <tr>
      <th>&nbsp name</th>
      <th>&nbsp color</th>
      <th>&nbsp width</th>
      <th>&nbsp height</th>
      <th>&nbsp age</th>
      <th>&nbsp gender</th>
    </tr>
  </table>
    <% rows.forEach(function(r) { %>
      <table>
        <tr>
          <td>
            <form action="/display" method="post">
              <input type="text" name="name" value="<%= r.name %>">
              <button><p><b><%= r.name %></b></p></button>
            </form>
          </td>
          <td><%= r.color %></td>
          <td><%= r.width %></td>
          <td><%= r.height %></td>
          <td><%= r.age %></td>
          <td><%= r.gender %></td>
        </tr>
      </table>
    <% }); %>
</ul>

<section>
  <a href="https://warm-springs-41269.herokuapp.com/add">
    <button class="btnsA">Add New Rectangle</button>
  </a>
  <a href="https://warm-springs-41269.herokuapp.com/delete">
    <button class="btnsA">Delete A Rectangle</button>
  </a>
  <a href="https://warm-springs-41269.herokuapp.com/update">
    <button class="btnsA">Update A Rectangle</button>
  </a>
</section>

</div>

</body>
</html>
